.header {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 50px;
  background-color: darkslategrey;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
